<section class="watch-queue">
    <ul class="watch-queue-link">
        <li>
            <a href="/filmoteka/library/watched" class="watch-queue-link__item watch-js is-active">Watched</a>
        </li>
        <li>
            <a href="/filmoteka/library/queue" class="watch-queue-link__item queue-js">Queue</a>
        </li>
    </ul>

</section>

<section class="library container"></section>