.header {
  width: 100%;
  color: #372c48;
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  background: #76c0ba;
  padding: 22px 12px 10px 20px;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      justify-content: space-between;
      padding: 0px 30px 0 32px;
    }
  }
}

.site-navigation {
  display: flex;
  justify-content: flex-start;

  &__item {
    width: 122px;
  }

  &__link {
    display: block;
    color: #372c48;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 0.2s linear;
    margin: 0 auto;
  }
}

.logo {
  letter-spacing: 1px;

  &__link {
    @media (min-width: 768px) {
      display: flex;
      width: 128px;
    }

    &__link--image {
      display: block;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    padding: 24px 0 24px;
  }
}

@media (min-width: 768px) {
  .span {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #372c48;
  }
}

@media (max-width: 767px) {
  .span {
    display: none;
  }
}

.active {
  border-bottom: 2px solid #372c48;
}
