.input-wrapper {
  width: 100%;
  padding: 20px 0 10px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #f3f6f6;
}

.search-form {
  display: block;
  margin-bottom: 10px;

  @media (min-width: 768px) {
  }
}

.input {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  width: 252px;
  background-repeat: no-repeat;
  background-size: 17px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-left: 24px;
  background-color: transparent;
  background-image: url(../images/search-icon.svg);
  border-bottom: 2px solid rgb(0, 0, 0);

  &::placeholder {
    color: black;
  }
  @media (min-width: 768px) {
    font-size: 16px;
    width: 284px;
  }
}

.form-wrapper {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    font-size: 16px;
    width: 100%;
  }
}
.short-list-films {
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  background-color: white;
}

.short-list-films__item {
  padding-left: 24px;
  font-size: 16px;
  &:hover {
    background-color: #f1f0f8;
  }
}

.wrong-input-notification {
  width: 225px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 12px;
  color: rgb(255, 0, 0);
  text-align: center;
}
